<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <log4net>

    <appender name="A1" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%-5level] - [%logger] - [%date]: %newline%message%newline%newline" />
      </layout>
    </appender>

    <root>
      <level value="DEBUG" />
      <appender-ref ref="A1" />
    </root>
    <logger name="DBLibrary.DatabaseLogger" additivity="false">
      <level value="DEBUG" />
      <appender-ref ref="A1" />
    </logger>
  </log4net>
  <connectionStrings>
   
    <add name="DBConnect" connectionString="Data Source=ELIE-PC\SQLEXPRESS;Initial Catalog=2012dbTest;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
 
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>